@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 1px, solid, black;
}

button {
  background-color: greenyellow;
  border: 1px, solid, purple;
  height: 30px;
  width: fit-content;
}

select {
  border: 1px, solid, black;
}
